.fill {
    width: 100%;
    height: 100%;
    display: flex;

    &-tag-fixed {
        width: 20%;
        height: 92vh;
        position: fixed;
        background: rgb(63, 63, 63);
        border-right: 1px solid rgb(255, 255, 255);
        padding-bottom: 8vh;

        &-hider {
            width: 100%;
            height: 8vh;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            bottom: 0;
            background: rgb(38, 38, 38);

            &:hover {
                background: rgb(38, 38, 38);
            }

            span {
                color: white;
                font-style: italic;
                font-weight: 300;
            }
        }

        &-container {
            width: 100%;
            height: 100%;
            display: flex;
            overflow: scroll;
            align-items: center;
            flex-direction: column;

            li {
                width: 100%;
                height: 10%;
                display: flex;
                align-items: center;
                border-bottom: 1px solid rgb(109, 109, 109);

                &:hover {
                    background: rgb(49, 49, 49);
                    cursor: pointer;
                }

                span {
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    color: white;
                    padding: 20px;
                }
            }
        }
    }

    &-content {
        width: 100%;
        height: 100%;
        display: flex;

        &-margin {
            width: 20%;
            height: 100%;
        }

        &-pub {
            width: 80%;
            height: 100%;
            display: flex;
            flex-direction: column;
        }

        &-editor {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(145, 145, 145);
        }

        &-article {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: row wrap;
            padding: 40px 20px;
            gap: 2rem;
        }
    }
}


.fill-form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgb(255, 255, 255);

    &-title {
        width: 100%;
        padding: 15.4px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-style: italic;
        border-bottom: 1px solid rgb(109, 109, 109);
    }

    &-content {
        width: 100%;
        height: 100%;
        display: flex;
        padding: 40px;
    }

    &-pub {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;

        label {
            color: white;
        }
    
        input {
            border-radius: 10px;
            border: none;
            padding: 10px;
        }

        &-title, &-content, &-cat {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: .5rem;
        }
    }
    
    &-submit {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;


        button {
            border: none;
            padding: 15px;
            border-radius: 10px;
            background-color: rgba(220, 220, 220, 0.832);
            transition: .5s ease-in-out;
            cursor: pointer;

            &:disabled {
                background-color: rgba(198, 198, 198, 0.165);
                cursor: default;
            }
        }
    }
}

.article {
    &-card {
        width: 40%;
        height: 300px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgba(220, 220, 220, 0.832);
        border: 1px solid white;
        border-radius: 20px;
        overflow: hidden;
    }

    &-title {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(46, 46, 46, 0.569);
        border-bottom: 1px solid white;
    }

    &-content {
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background-color: rgba(171, 171, 171, 0.569);

        &-main {
            width: 100%;
            height: 85%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &-footer {
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: space-between;
            padding: 0 15px;
        }
    }

    &-like {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-top: 1px solid white;
        background-color: rgba(46, 46, 46, 0.569);
    }
}

.like {
    width: 15%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3px;
    border-radius: 10px;
    gap: .5rem;
    transition: .4s ease-in-out;
    cursor: pointer;

    &:hover {
        transform: scale(1.04);
    }

    &-img {
        width: 50%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-number {
        width: 50%;
        height: 100%;
    }
}

.blue {
    background-color: rgb(91, 91, 135);
    border: 1px solid rgba(0, 0, 255, 0.594);
}

.green {
    background-color: rgb(91, 135, 91);
    border: 1px solid rgba(0, 255, 0, 0.594);
}

.red {
    background-color: rgb(135, 91, 91);
    border: 1px solid rgba(255, 0, 0, 0.594);
}